body {
    background-color: #ffffff; 
}

.card {
    height: 50%;
    margin-bottom: 20px;
}
.card-text {
    height: 50%;
}

.seccion-especialidades {
    width: 100%;
    background-color: #dadada;
    padding: 50px 0;
}

.card-img-top {
    height: 200px; /* Ajusta según el diseño que desees */
    object-fit: cover;
}

.card-text {
    text-align: justify;
}