.nav-item.dropdown:hover .dropdown-menu {
    display: block;
}


  .mi-boton {
    background-color: #1a7cfc; 
    color: white; 
    padding: 15px 25px; 
    border: none;
    border-radius: 5px; 
    cursor: pointer; 
  }

  .custom-bg {
    background-color: #d3fff2; 
}

.card-hover:hover {
    transform: scale(1.05);
    transition: all 0.3s ease-in-out;
}
