

h1{
    text-align: center;
    padding: 10px;
    


}
.descripcion{
    text-align: center;
    padding: 5px;


}

.seccion-servicios {
    width: 100%; 
    background-color: #d3fff2; 
    padding: 50px 0; /
}



