

h1{
    text-align: center;
    padding: 10px;
    


}
.descripcion{
    text-align: center;
    padding: 5px;


}

.seccion-servicios {
    width: 100%; 
    background-color: #ffffff; 
    padding: 50px 0; /
}

.custom-border {
  
    border: 1px solid #EA7913 !important; /* !important para asegurarnos de que se aplique */
  }
  



